@import url("base");
@import url("grid");
@import url("mixins");
@import url("modules");
@import url("variables");
body {
  font-family: sans-serif; }

h2 {
  color: #E04B4B;
  padding-left: 50px; }

.columns {
  width: 100%; }
  .columns ul li a {
    color: #fbfbfb; }
